.class-sidebar {
    background-color: #0D28A6;
    width: 5%;
}

.class-sidebar p {
    color: white;
    font-size: 7pt;
}

#startcontent {
    margin-left: 5%;
}

.searchcontent {
    background: url(../img/fi_search.png) no-repeat scroll 5% 10px;
    padding-left: 10% !important;
}

.down-icon {
    margin-top: 1.8%;
    list-style: none;
}

.bxs-chevron-down {
    font-size: 20pt;
    color: black;
}

.nama-pengguna {
    width: 50%;
}

.content-sidebar {
    width: 15%
}


.content1 {
    margin-left: 15%;
}

.add-new-car {
    background-color: #0D28A6 !important;
}

.btn-ukuran {
    background-color: white !important;
    color: blue !important;
}

.card {
    width: 100%;
}

.card ul {
    list-style: none;
}

.btn-edit {
    background-color: #5CB85F !important;
}