<!-- Css -->
<link rel="stylesheet" href="./css/pop.css">
<!-- Start Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src="./img/img-BeepBeep.png" alt="">
                <p><b>Menghapus Data Mobil</b></p>
                <p>Setelah dihapus, data mobil tidak dapat dikembalikan.
                    ingin menghapus?</p>
                <button type="button" class="btn-terima btn-primary " data-bs-dismiss="modal" id="toastbtn">Ya</button>
                <button type="button" class="btn-tolak btn-primary" data-bs-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->