<link rel="stylesheet" href="./css/up.css">
<div class="toast">
    <div class="toast-body">
        <div class="d-grid gap-2">
            <button class="btn-data btn-success" type="button">Data Berhasil
                Disave</button>
        </div>
    </div>
</div>

<script>
    document.getElementById("toastbtn").onclick = function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    }
</script>